# Enable/disable wifi connectivity
ENABLE_WIFI = True
WIFI_SSID = ''
WIFI_PASSWD = ''

# MQTT Settings
MQTT_SERVER = ''
MQTT_USER = ''
MQTT_PASSWD = ''

MQTT_TEMPERATURE_TOPIC = b'home/living-room/temperature'
MQTT_HUMIDITY_TOPIC = b'home/living-room/humidity'

_MQTT_DISCOVERY_DEVICE = {
    'identifiers': ['living_room_thermometer'],
    'name': 'Living Room Thermometer',
    'suggested_area': 'Living Room',
    'manufacturer': 'GroundStudio',
    'model': 'Carbon S2',
    'hw_version': 'ESP32',
    'sw_version': 'MicroPython'
}

MQTT_TEMPERATURE_DISCOVERY_TOPIC = b'homeassistant/sensor/living_room_temperature/config'
MQTT_TEMPERATURE_DISCOVERY_PAYLOAD = {
    'platform': 'sensor',
    'object_id': 'living_room_temperature',
    'unique_id': 'living_room_temperature',
    'name': 'Living Room Temperature',
    'icon': 'mdi:thermometer',
    'device_class': 'temperature',
    'state_class': 'measurement',
    'state_topic': MQTT_TEMPERATURE_TOPIC,
    'suggested_display_precision': 2,
    'expire_after': 60,
    'unit_of_measurement': '°C',
    'device': _MQTT_DISCOVERY_DEVICE
}

MQTT_HUMIDITY_DISCOVERY_TOPIC = b'homeassistant/sensor/living_room_humidity/config'
MQTT_HUMIDITY_DISCOVERY_PAYLOAD = {
    'platform': 'sensor',
    'object_id': 'living_room_humidity',
    'unique_id': 'living_room_humidity',
    'name': 'Living Room Humidity',
    'icon': 'mdi:water-percent',
    'device_class': 'humidity',
    'state_class': 'measurement',
    'state_topic': MQTT_HUMIDITY_TOPIC,
    'suggested_display_precision': 2,
    'expire_after': 60,
    'unit_of_measurement': '%',
    'device': _MQTT_DISCOVERY_DEVICE
}

# Sensor settings
SCL_PIN = 14
SDA_PIN = 8
SENSOR_POLL_TIME = 10