# Enable/disable wifi connectivity
ENABLE_WIFI = True
WIFI_SSID = ''
WIFI_PASSWD = ''

# Controller url
API_URL = ''

# Poll time in seconds
STATE_POLL_TIME = 5

# Gas sensor settings
GAS_SENSOR_POLL_TIME = 5
GAS_SENSOR_RECALIBRATION_THRESHOLD = 20
GAS_SENSOR_CALIBRATION_STEPS = 10
GAS_SENSOR_CALIBRATION_WAIT_TIME = 1
GAS_SENSOR_ALARM_THRESHOLD = 1000

RELAY_PIN = 10
